In [1]:
# Import nessesary libraries
import pandas as pd
import numpy as np

### Read CSV File

Link dataset: https://www.kaggle.com/datasets/aiaiaidavid/the-big-dataset-of-ultra-marathon-running/discussion/420633

In [4]:
df = pd.read_csv('race records.csv',low_memory=False)
df.head()

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID
0,2018,06.01.2018,Selva Costera (CHI),50km,22,4:51:39 h,Tnfrc,CHI,1978.0,M,M35,10.286,0
1,2018,06.01.2018,Selva Costera (CHI),50km,22,5:15:45 h,Roberto Echeverría,CHI,1981.0,M,M35,9.501,1
2,2018,06.01.2018,Selva Costera (CHI),50km,22,5:16:44 h,Puro Trail Osorno,CHI,1987.0,M,M23,9.472,2
3,2018,06.01.2018,Selva Costera (CHI),50km,22,5:34:13 h,Columbia,ARG,1976.0,M,M40,8.976,3
4,2018,06.01.2018,Selva Costera (CHI),50km,22,5:54:14 h,Baguales Trail,CHI,1992.0,M,M23,8.469,4

In [5]:
df.shape

(7461195, 13)

### Drop unnecessary column

In [7]:
df.drop(['Athlete club','Athlete age category'],axis=1,inplace =True)
df.shape

(7461195, 11)

### Drop rows with missing values

In [9]:
df.isna().sum()

Year of event                     0
Event dates                       0
Event name                        0
Event distance/length          1053
Event number of finishers         0
Athlete performance               2
Athlete country                   3
Athlete year of birth        588161
Athlete gender                    7
Athlete average speed           224
Athlete ID                        0
dtype: int64

In [10]:
drop_fields = ['Event distance/length','Athlete performance','Athlete country',
              'Athlete year of birth','Athlete gender','Athlete average speed']
df = df.dropna(subset=drop_fields)

In [11]:
df.isna().sum()

Year of event                0
Event dates                  0
Event name                   0
Event distance/length        0
Event number of finishers    0
Athlete performance          0
Athlete country              0
Athlete year of birth        0
Athlete gender               0
Athlete average speed        0
Athlete ID                   0
dtype: int64

In [12]:
df.shape

(6871843, 11)

### Filtering rows with years >= 1900

In [14]:
year = np.sort(df['Year of event'].unique())
year

array([1807, 1837, 1861, 1863, 1870, 1874, 1875, 1876, 1877, 1878, 1879,
       1880, 1881, 1882, 1884, 1885, 1887, 1888, 1889, 1891, 1892, 1893,
       1894, 1895, 1896, 1897, 1899, 1900, 1902, 1903, 1904, 1906, 1907,
       1908, 1909, 1910, 1911, 1913, 1914, 1921, 1922, 1923, 1924, 1925,
       1926, 1927, 1928, 1929, 1930, 1931, 1932, 1933, 1934, 1935, 1936,
       1937, 1938, 1939, 1940, 1944, 1945, 1946, 1947, 1948, 1949, 1950,
       1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961,
       1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972,
       1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983,
       1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994,
       1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005,
       2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016,
       2017, 2018, 2019, 2020, 2021, 2022], dtype=int64)

In [15]:
df = df.loc[df['Year of event'] >= 1900]

In [16]:
df.shape

(6871322, 11)

In [17]:
year = np.sort(df['Year of event'].unique())
year

array([1900, 1902, 1903, 1904, 1906, 1907, 1908, 1909, 1910, 1911, 1913,
       1914, 1921, 1922, 1923, 1924, 1925, 1926, 1927, 1928, 1929, 1930,
       1931, 1932, 1933, 1934, 1935, 1936, 1937, 1938, 1939, 1940, 1944,
       1945, 1946, 1947, 1948, 1949, 1950, 1951, 1952, 1953, 1954, 1955,
       1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966,
       1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977,
       1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988,
       1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999,
       2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010,
       2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021,
       2022], dtype=int64)

### Drop duplicated rows

In [19]:
df.drop_duplicates(keep="first",inplace= True)

In [20]:
df.shape

(6871289, 11)

### Date Conversion

In [22]:
df['Event dates'] = df['Event dates'].replace({'05.-07.01.2018': '07.01.2018'}, regex=True)

# Chuyển đổi cột 'Event dates' từ định dạng DD.MM.YYYY thành kiểu datetime
df['Event dates'] = pd.to_datetime(df['Event dates'], format='%d.%m.%Y', errors='coerce')
df = df.dropna(subset='Event dates')

In [23]:
df.head()

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete country,Athlete year of birth,Athlete gender,Athlete average speed,Athlete ID
0,2018,2018-01-06,Selva Costera (CHI),50km,22,4:51:39 h,CHI,1978.0,M,10.286,0
1,2018,2018-01-06,Selva Costera (CHI),50km,22,5:15:45 h,CHI,1981.0,M,9.501,1
2,2018,2018-01-06,Selva Costera (CHI),50km,22,5:16:44 h,CHI,1987.0,M,9.472,2
3,2018,2018-01-06,Selva Costera (CHI),50km,22,5:34:13 h,ARG,1976.0,M,8.976,3
4,2018,2018-01-06,Selva Costera (CHI),50km,22,5:54:14 h,CHI,1992.0,M,8.469,4

### Create a column named '*athlete_age*'

In [25]:
df['athlete_age'] = df['Year of event'] - df['Athlete year of birth'].astype(int)
df.drop(['Athlete year of birth'],axis=1,inplace =True)

In [26]:
df.head()

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete country,Athlete gender,Athlete average speed,Athlete ID,athlete_age
0,2018,2018-01-06,Selva Costera (CHI),50km,22,4:51:39 h,CHI,M,10.286,0,40
1,2018,2018-01-06,Selva Costera (CHI),50km,22,5:15:45 h,CHI,M,9.501,1,37
2,2018,2018-01-06,Selva Costera (CHI),50km,22,5:16:44 h,CHI,M,9.472,2,31
3,2018,2018-01-06,Selva Costera (CHI),50km,22,5:34:13 h,ARG,M,8.976,3,42
4,2018,2018-01-06,Selva Costera (CHI),50km,22,5:54:14 h,CHI,M,8.469,4,26

### Fix types

In [28]:
# Drop rows in col "Athlete average speed"
time_pattern = r'\d{2}:\d{2}:\d{2}'

# Create a boolean column to mark the rows with time values
df['is_time'] = df['Athlete average speed'].str.match(time_pattern)

# Remove the rows containing time values.
df = df[~df['is_time']].copy()

# Drop col 'is_time' 
df.drop(columns=['is_time'], inplace=True)

In [29]:
df.dtypes

Year of event                         int64
Event dates                  datetime64[ns]
Event name                           object
Event distance/length                object
Event number of finishers             int64
Athlete performance                  object
Athlete country                      object
Athlete gender                       object
Athlete average speed                object
Athlete ID                            int64
athlete_age                           int64
dtype: object

In [30]:
df['Athlete average speed'] = df['Athlete average speed'].astype(float)

In [31]:
df.dtypes

Year of event                         int64
Event dates                  datetime64[ns]
Event name                           object
Event distance/length                object
Event number of finishers             int64
Athlete performance                  object
Athlete country                      object
Athlete gender                       object
Athlete average speed               float64
Athlete ID                            int64
athlete_age                           int64
dtype: object

In [32]:
df.shape

(5170645, 11)

### Rename columns

In [35]:
df = df.rename(columns ={'Year of event':'year',
                         'Event dates':'race_day',
                         'Event name':'race_name',
                         'Event distance/length':'race_distance/length',
                         'Event number of finishers':'num_of_finishers',
                         'Athlete performance':'athlete_performance',
                         'Athlete country':'athlete_country',
                         'Athlete gender':'gender',
                         'Athlete average speed':'ave_speed',
                         'Athlete ID':'ID'                                                                                                                                     
})

In [37]:
df.head()

,year,race_day,race_name,race_distance/length,num_of_finishers,athlete_performance,athlete_country,gender,ave_speed,ID,athlete_age
0,2018,2018-01-06,Selva Costera (CHI),50km,22,4:51:39 h,CHI,M,10.286,0,40
1,2018,2018-01-06,Selva Costera (CHI),50km,22,5:15:45 h,CHI,M,9.501,1,37
2,2018,2018-01-06,Selva Costera (CHI),50km,22,5:16:44 h,CHI,M,9.472,2,31
3,2018,2018-01-06,Selva Costera (CHI),50km,22,5:34:13 h,ARG,M,8.976,3,42
4,2018,2018-01-06,Selva Costera (CHI),50km,22,5:54:14 h,CHI,M,8.469,4,26

### Reorder columns

In [39]:
new_order = ['race_day','year','race_name','race_distance/length','num_of_finishers',
             'ID','gender','athlete_country','athlete_age','athlete_performance','ave_speed']
df = df[new_order]

In [41]:
df.head()

,race_day,year,race_name,race_distance/length,num_of_finishers,ID,gender,athlete_country,athlete_age,athlete_performance,ave_speed
0,2018-01-06,2018,Selva Costera (CHI),50km,22,0,M,CHI,40,4:51:39 h,10.286
1,2018-01-06,2018,Selva Costera (CHI),50km,22,1,M,CHI,37,5:15:45 h,9.501
2,2018-01-06,2018,Selva Costera (CHI),50km,22,2,M,CHI,31,5:16:44 h,9.472
3,2018-01-06,2018,Selva Costera (CHI),50km,22,3,M,ARG,42,5:34:13 h,8.976
4,2018-01-06,2018,Selva Costera (CHI),50km,22,4,M,CHI,26,5:54:14 h,8.469

### Save as a new CSV file

In [43]:
df.to_csv('race_records_cleaned.csv',index = False)